os: Visual Studio 2015

environment:
  matrix:
  - channel: stable
    target: x86_64-pc-windows-msvc
  - channel: stable
    target: i686-pc-windows-msvc
  - channel: stable
    target: x86_64-pc-windows-gnu
  - channel: stable
    target: i686-pc-windows-gnu

install:
- curl -fsS -o rustup-init.exe https://win.rustup.rs/
- rustup-init -yv --default-toolchain %channel% --default-host %target%
- set PATH=%PATH%;%USERPROFILE%\.cargo\bin

build: false

test_script:
- cargo build --verbose
- cargo test --verbose
- compile-rust.bat
- type compilation.log
- dir MyStrategy.exe
